numpy>=2.2.0
scipy>=1.15.1
joblib>=1.4.0
pandas>=2.2.0,<4
scikit-learn>=1.6.0
wfdb>=4.2.0
torch>=2.5.0
transformers>=4.48.0
torch-ecg>=0.0.31
opencv-python
torchsummary
tensorboardX
tqdm
gdown
biosppy
deprecated
torch-optimizer
IPython
pyEDFlib
PyWavelets
xmltodict
einops
matplotlib
seaborn
requests
accelerate
PyYAML
bib-lookup
diff-binom-confint
safetensors
torchmetrics
humanize
PeakUtils
